{% extends 'layout.html' %}
{% block title %}
Core App
{% endblock %}
{% block content %}
{% comment %} 
  {% for rating in ratings %}
    <p>
      {{rating.restaurant.name}} - {{rating}}
    </p>
  {% endfor %} {% endcomment %}
  {% comment %} {% for restaurant in restaurants %}  
    <p>
      {{restaurant.name}}
    </p>
    Rating
    <ul>
      
      {% for rating in restaurant.ratings.all %}
        <li>
          {{rating.rating}}
        </li>  
      {% endfor %}
    </ul>

    Income
    <ul>
      
      {% for sale in restaurant.sales.all %}
        <li>
          {{sale.income}}
        </li>  
      {% endfor %}
    </ul>
  {% endfor %} {% endcomment %}
{% endblock %}
